src/main/mule/ride_status.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc722a25-1842-4ec8-a43f-de94bf09fa98" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ride_statusFlow" doc:id="ec7c3605-4daa-41b8-9547-34609dcf3b3e" >
		<http:listener doc:name="Listener /status1" doc:id="7fba24e9-de23-4be3-8a45-2b88479860c3" config-ref="HTTP_Listener_config" path="/status1"/>
		<set-payload value='#[status: "check12 "]' doc:name="Set Payload" doc:id="a97fe15e-5dc0-40d1-9e1c-c4902b7f5fb4" />
		<logger level="INFO" doc:name="Logger" doc:id="8f013c15-68cd-488e-9791-c87506c61080" message="payload 12"/>
	</flow>
</mule>
